[server]
bind_addr = "127.0.0.1:8097"

[mysql]
url = "mysql://username:password@localhost:3306/galois"

[redis]
url = "redis://localhost:6379/0"

[sequence]
checkpoint = 100000
coredump_dir = "/tmp/snapshot"
batch_size = 1000
dump_mode = "disk"
fetch_intervel_ms = 5

[fusotao]
node_url = "ws://localhost:9944"
key_seed = "//Alice"
proof_batch_limit = 20
claim_block = 1
compress_proofs = true
x25519_priv = "0xedcff0c69e4c0fa7e9a36e2e6d07f2cc355c8d25907a0ad2ab7e03b24f8e90f3"
