[server]
bind_addr = "127.0.0.1:8097"

[mysql]
url = "mysql://username:password@localhost:3306/galois"

[redis]
url = "redis://localhost:6379/0"

[sequence]
checkpoint = 100000
coredump_dir = "/tmp/snapshot"
batch_size = 1000
dump_mode = "disk"
fetch_intervel_ms = 5

[fusotao]
node_url = "ws://localhost:9944"
key_seed = "//Alice"
proof_batch_limit = 20
claim_block = 1
compress_proofs = true
fee_adjust_threshold = 1000
